{% extends 'base.html' %}

{% block title %} Cliente {% endblock%}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid mx-2 py-3"> 
  
<div>
  <h2> Registro de Cliente </h2>



</div>
    <form class="container-fluid mx-2 py-3" action="" method="POST">
      {% csrf_token %} 

      {{ form| crispy }}

      <div clas="form-group py-5"> 
        <button type="submit" class="btn btn-outline-success btn-block text-bg-black">Guardar Cliente</button>
        <a type="button" href="http://127.0.0.1:8000/recep/homeReserva" class="btn btn-outline-success btn-block text-bg-black">Regresar al Panel</a>
      </div>
    </form>
    

</div>




  
 
{% endblock %}