{% extends 'base.html' %}

{% block title %} Cliente {% endblock%}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid mx-2 py-3"> 
  
<div>
  <h2> Registro de Cliente </h2>



</div>
    <form class="container-fluid mx-2 py-3" action="" method="POST">
      {% csrf_token %} 

      {{ form| crispy }}

      <div class="btn-group mx-5 py-1">
        <a class="btn btn btn-outline-warning" href="ttp://127.0.0.1:8000/recep/homeReserva" role="button">Regresar al Panel</a>
        <input class="btn btn-outline-success" type="submit" value="Guardar Cliente">
        <a class="btn btn btn-outline-primary" href="{% url 'registrarReserva' %}" role="button">Regresar al formulario de Reservas</a>
      </div>
    </form>
    

</div>




  
 
{% endblock %}