
{% extends 'base.html' %}

{% block title %} Panel de Recepcion {% endblock%}

{% block content %}

<div class="container-fluid py-3"> 
    <h2> Registrar Nueva Reserva </h2>
    <form action="{% url 'registrarReserva' %}"  method="POST">{% csrf_token %} 
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Recepcionista</span>
            <input type="text" class="form-control" id="userRecep" name="userRecep" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Habitaciones</label>
                <select class="form-select" id="selectHab" name="selectHab">
                  <option selected>Seleccionar Habitacion</option>
                  <option value="1">UNO</option>
                  <option value="2">DOS</option>
                  <option value="3">TRES</option>
                </select>
              </div>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Seleccionar el Tipo de Pago</label>
                <select class="form-select" id="textPago" name="textPago">
                  <option selected>Pago Movil</option>
                  <option value="Transferencia">Transferencia</option>
                  <option value="Efectivo">Efectivo</option>
                  <option value="Punto de Venta">Punto de Venta</option>
                </select>
              </div>
          </div>
        
          <div class="input-group mb-3">
            <span class="input-group-text">Monto $</span>
            <input type="text" class="form-control" id="numMonto" name="numMonto" aria-label="Cantidad Expresada segun el tipo de Pago">
            <span class="input-group-text">.00</span>
          </div>

          <label for="basic-url" class="form-label">Datos del Cliente</label>
          <div class="input-group mb-3">
            <span class="input-group-text">Nombre Y Apellido</span>
            <input type="text" id="textCliente" name="textCliente" class="form-control" placeholder="Escribe el nombre del Cliente aqui." aria-label="Server">
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" id="numContacto" name="numContacto" class="form-control" id="basic-url" placeholder="Telefono" aria-describedby="basic-addon3 basic-addon4">
              <input type="text" id="numCedula" name="numCedula" class="form-control" placeholder="Cedula" aria-label="Username">
            </div>
          </div>

          <div clas="form-group">
            <button type="submit" class="btn btn-outline-success btn-block text-bg-black">Guardar Reserva</button>
            <a type="button" href="http://127.0.0.1:8000/recep/homeReserva" class="btn btn-outline-success btn-block text-bg-black">Cancelar</a>
          </div>

    </form>


</div>




  
 
{% endblock %}