
{% extends 'base.html' %}

{% block title %} Panel de Recepcion {% endblock%}

{% block content %}

<div class="container py-4">
  <div class="row">
          <div class="table-responsive py-2">
            <div class="row py-4">
              <h1>Listado de Reservas 
                  <a class="btn btn-outline-success" href="{% url 'registrarReserva' %}" role="button">CheckIn</a>            </h1>
          </div>
              <table class="table table-striped py-7">
                  <thead>
                      <tr>
                          <th>CheckIn</th>
                          <th>Usuario</th>
                          <th>Habitacion</th>
                          <th>Importe</th>
                          <th>Metodo de Pago</th>
                          <th>Moneda</th>
                          <th>Cliente</th>
                          <th colspand="2">Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for reserva in reservaList %}
                     <tr>
                      <td>{{ reserva.fechaEntrada }}</td>
                      <td>{{ reserva.user}}</td>
                      <td>{{ reserva.habitacion}}</td>
                      <td>{{ reserva.importe}}</td>
                      <td>{{ reserva.metodoPago}}</td>
                      <td>{{ reserva.moneda}}</td>
                      <td>{{ reserva.cliente}}</td>
                      <td><a href="{% url 'editarReserva' reserva.id %}" type="button" class="btn btn-warning">Actualizar</a></td>
                      <td><a href="{% url 'eliminarReserva' reserva.id %}" type="button" class="btn btn-danger">CheckOut</a></td>
                     </tr>
                     {% endfor %}
                  </tbody>
                  
              </table>
          </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}