
{% extends 'base.html' %}

{% block title %} Panel de Recepcion {% endblock%}

{% block content %}

<div class="container py-4">
  <div class="row">
          <div class="table-responsive py-2">
            <div class="row py-4">
              <h1>Listado de Reservas 
          </div>
              <table class="table table-striped py-5">
                  <thead>
                      <tr>
                        <th>Id</th>
                          <th>CheckIn</th>
                          <th>Habitacion</th>
                          <th>Importe</th>
                          <th>Metodo de Pago</th>
                          <th>Moneda</th>
                          <th>CheckOut</th>
                          <th>Estadia</th>
                          <th>Cliente</th>
                          <th colspand="3">Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for reserva in reserva %}
                     <tr>
                      <td>{{ reserva.id}}</td>
                      <td>{{ reserva.fechaEntrada}}</td>
                      <td> <strong> Numero: </strong> {{ reserva.habitacion.numero}} <br> <strong>Tipo: </strong>  {{ reserva.habitacion.tipo}} </td>
                      <td>{{ reserva.importe}}</td>
                      <td>{{ reserva.metodoPago}}</td>
                      <td>{{ reserva.moneda}}</td>
                      <td>{{ reserva.fechaSalida}}</td>
                      <td>{{ reserva.tiempoEstadia}} Dias.</td>
                      <td>{{ reserva.cliente.cedula}}</td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                      <td><a href="{% url 'editarReserva' reserva.id %}" type="button" class="btn btn-outline-warning btn-sm">Actualizar</a></td>
                      <td><a class="btn btn-outline-danger btn-sm" href="{% url 'liberarReserva' reserva.id %}" role="button">CheckOut</a></td>
                      <td><a class="btn btn-outline-primary btn-sm" href="{% url 'eliminarReserva' reserva.id %}" data-toggle="modal" data-target="#confirmar_eliminar">Eliminar</a></td>
                      
                      <div class="modal fade" id="confirmar_eliminar" tabindex="-1" role="dialog" aria-labelledby="confirmar_eliminar_label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmar_eliminar_label">Confirmar eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro de que deseas eliminar la reserva "{{ reserva.id }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                     </tr>
                     {% endfor %}
                  </tbody>
                  
              </table>
          </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}