
{% extends 'base.html' %}

{% block title %} Tablero Habitaciones {% endblock%}

{% block content %}

<div class="container-fluid py-3"> 
    <h2> {% if numero %} Editar {% else %} Registrar {% endif %} Habitacion </h2>

    <form action="{% url 'registrarHabitacion' %}" method="POST">{% csrf_token %} 
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Tipo de Habitacion</span>
            <input type="text" class="form-control" id="texTipo" name="texTipo" placeholder="Tipo de Habitacion" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Estado</label>
                <select class="form-select" id="textEstado" name="textEstado">
                  <option selected>Disponible</option>
                  <option value="Ocupado">Ocupado</option>
                  <option value="Reservado">Reservado</option>
                  <option value="Mantenimiento">Mantenimiento</option>
                </select>
              </div>
          </div>
          <br>
          
         
          <div clas="form-group py-50">
            <button type="submit" id="liveAlertBtn" class="btn btn-outline-success btn-block text-bg-black">Guardar Reserva</button>
            <a type="button" href="http://127.0.0.1:8000/tablero/appTablero" class="btn btn-outline-success btn-block text-bg-black">Cancelar</a>
          </div>

    </form>


</div>



<script> 

  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  const appendAlert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')
  
    alertPlaceholder.append(wrapper)
  }
  
  const alertTrigger = document.getElementById('liveAlertBtn')
  if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
      appendAlert('¡Habitacion Registrada con Exito!', 'success')
    })
  }
  
</script>


  
 
{% endblock %}