
{% extends 'base.html' %}

{% block title %} Tablero Habitaciones {% endblock%}

{% block content %}

<div class="container-fluid mx-2 py-3"> 
    <h2> Datos de Habitacion </h2>

    <form action="" method="POST">{% csrf_token %}

      {{ form }}
      <div class="form-group mx-2 py-0">
        <button type="submit" id="liveAlertBtn" class="btn btn-outline-success btn-block text-bg-black">Crear Habitacion</button>
        <a type="button" href="http://127.0.0.1:8000/tablero/appTablero" class="btn btn-outline-success btn-block text-bg-black">Regresar al Tablero</a>
      </div>
    </form>

   

</div>



<script>

  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  const appendAlert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')
  
    alertPlaceholder.append(wrapper)
  }
  
  const alertTrigger = document.getElementById('liveAlertBtn')
  if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
      appendAlert('¡Habitacion Registrada con Exito!', 'success')
    })
  }
  
</script>


  
 
{% endblock %}