
{% extends 'base.html' %}

{% block title %} Tablero Habitaciones {% endblock%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mx-2 py-3"> 
    <h2> Datos de Habitacion </h2>

    <form action="" method="POST">{% csrf_token %}

      {{ form| crispy }}

      <p>Los campos con (*) son obligatorios</p>
      <div class="btn-group mx-5 py-1">
        <a class="btn btn btn-outline-primary" href="http://127.0.0.1:8000/tablero/appTablero" role="button">Regresar al Tablero</a>
        <input class="btn btn-outline-success" type="submit" value="Crear Habitacion">
      </div>
    </form>

   

</div>



<script>

  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  const appendAlert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')
  
    alertPlaceholder.append(wrapper)
  }
  
  const alertTrigger = document.getElementById('liveAlertBtn')
  if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
      appendAlert('¡Habitacion Registrada con Exito!', 'success')
    })
  }
  
</script>


  
 
{% endblock %}