{% extends 'base.html' %}

{% block title %} Eliminar Habitacion {% endblock%}

{% block content %}

<div class="room">

   
    <div class="home">
        <a href="{% url 'habitacion:HabitacionListView' %}"><i class="fas fa-arrow-alt-circle-left">Eliminar</i></a>
    </div>

    
    <form id="habitacion-form" action="eliminarHabitacion" method="POST">

        {% csrf_token %}
        <h2>Estas seguro que quieres eliminar esta habitacion? Detalles: </h2>
        <h3>{{habitacion.numero}}{{habitacion.tipo}} {{habitacion.estado}}</h3>
        <!-- Input Div -->
        <div class="input-div">
            <button type="submit">Eliminar Habitacion</button>
        </div>

    </form>