
{% extends 'base.html' %}

{% block title %} Tablero de Habitaciones {% endblock%}

{% block content %}

<div class='container py-4'> 
<div class='row grid gap-5'> 
<h1>Tablero de Habitaciones  <a href="{% url 'registrarHabitacion' %}" type="button" class="btn d-flex btn-success btn-sm"> Añadir una Nueva Habitacion</a>
</h1> 
</div>


<div class="container-fluid py-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for habitacion in habitacionList %}
    <div class="col mb-4">
      <div class="card">
        <div class="card-header">
          <strong> Habitacion: {{ habitacion.numero }} </strong>
        </div>
        <div class="card-body">
          <p class="card-title"><strong>Tipo: </strong> {{ habitacion.tipo }}</p>
          <p class="card-title"><strong>Precio: </strong> {{ habitacion.precio }} $$</p>
          <p class="card-text"><strong>Estado: </strong> {% if habitacion.estado == 'Disponible' %}<span class="text-success">Disponible</span>{% else %}<span class="text-danger">{{ habitacion.estado }}</span>{% endif %}</p>
        </div>
        <a class="btn btn-outline-success" href="{% url 'registrarReserva' habitacion.id %}" role="button">CheckIn</a>
        <a class="btn btn-outline-danger" href="{% url 'CheckoutView' habitacion.id %}" role="button">CheckOut</a>
        <a href="{% url 'eliminarHabitacion' habitacion.id %}" type="button" class="btn btn-outline-warning">Eliminar Habitacion</a> 

      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

