
{% extends 'base.html' %}

{% block title %} Tablero de Habitaciones {% endblock%}

{% block content %}

<div class='container py-4'> 
<div class='row grid gap-5'> 
<h1>Tablero de Habitaciones  <a href="{% url 'registrarHabitacion' %}" type="button" class="btn d-flex btn-success btn-sm"> Añadir una Nueva Habitacion</a>
</h1> 
</div>


<div class="container-fluid py-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for habitacion in habitacionList %}
    <div class="col mb-4">
      <div class="card">
        <div class="card-header">
          <strong> Habitacion: {{ habitacion.numero }} </strong>
        </div>
        <div class="card-body">
          <p class="card-title"><strong>Tipo: </strong> {{ habitacion.tipo }}</p>
          <p class="card-title"><strong>Precio: </strong> {{ habitacion.precio }} $$</p>
          <p class="card-text"><strong>Estado: </strong> {% if habitacion.estado == 'Disponible' %}<span class="text-success">Disponible</span>{% else %}<span class="text-danger">{{ habitacion.estado }}</span>{% endif %}</p>
          <p class="card-title"><strong>Reserva Activa: </strong> {{ habitacion.reserva.id }}</p>
        </div>
        <a class="btn btn-outline-success" href="{% url 'registrarReserva' habitacion.id %}" role="button">CheckIn</a>
        <a class="btn btn-outline-warning" href="{% url 'eliminarHabitacion' habitacion.id %}" data-toggle="modal" data-target="#confirmar_eliminar">Eliminar</a>
                      
        <div class="modal fade" id="confirmar_eliminar" tabindex="-1" role="dialog" aria-labelledby="confirmar_eliminar_label" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmar_eliminar_label">Confirmar eliminación</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>¿Estás seguro de que deseas eliminar la habitacion "{{ habitacion.id }}"?</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

