{% extends 'base.html' %}

{% block title %} Tablero Habitaciones {% endblock%}

{% block content %}

<div class="container-fluid mx-2 py-3"> 
    <h2> Tipo de Habitacion </h2>

    <form class="container-fluid py-5 form-group-lg" action="{% url 'registrarHabitacion' %}" method="POST">{% csrf_token %} 

    {{ form }}

    </form>
    <div class="form-group mx-2 py-0">
        <a type="button" href="http://127.0.0.1:8000/tablero/appTablero" class="btn btn-outline-success btn-block text-bg-black">Regresar al Tablero</a>
        <button type="submit" class="btn btn-outline-success btn-block text-bg-black">Guardar</button>
    </div>

</div>

{% endblock %}